/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *




 */

#topSlider {
  background: #2e1556;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e1556), color-stop(32%, #4815a0), color-stop(71%, #4815a0), color-stop(100%, #2e1556));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e1556', endColorstr='#2e1556',GradientType=0 );
  /* IE6-9 */ }

#mid-nav {
  background: #edece2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #edece2 0%, #d3d3cb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edece2), color-stop(100%, #d3d3cb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #edece2 0%, #d3d3cb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #edece2 0%, #d3d3cb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #edece2 0%, #d3d3cb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #edece2 0%, #d3d3cb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edece2', endColorstr='#d3d3cb',GradientType=0 );
  /* IE6-9 */ }

#mid-nav a:hover {
  background: #dfdddb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dfdddb 0%, #a9a89f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdddb), color-stop(100%, #a9a89f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfdddb 0%, #a9a89f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfdddb 0%, #a9a89f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dfdddb 0%, #a9a89f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dfdddb 0%, #a9a89f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdddb', endColorstr='#a9a89f',GradientType=0 );
  /* IE6-9 */
  border-radius: 0 !important; }
#topSlider {
  height: 360px; }
