<style>
  .nav-tabs {padding:0 88px 0 88px;}
  .nav-tabs li a {padding-left:3em;padding-right:3em;}


</style>


<div class="container wsu-container tabbox" style="margin-top:-10px;min-height:200px;background:url(<%= asset_path 'tabbox.png' %>) 0 0 repeat;">

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#spotlight" data-toggle="tab">Spotlight</a></li>
  <li><a href="#news" data-toggle="tab">News</a></li>
  <li><a href="#events" data-toggle="tab">Events Calendar</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="spotlight">Spotlight</div>
  <div class="tab-pane" id="news">News</div>
  <div class="tab-pane" id="events">Events Calendar</div>
</div>








</div>