<div class="container wsu-container">
<div class="row">

  <style>
    .nav .nav-pills {border-left:1px solid rgba(255,255,255, 1);}

  </style>

  <div class="navbar navbar-default" id="mid-nav" style="">
  <div class="container">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
 

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <p class="navbar-text hidden-sm">For information: </p>
    <ul class="nav navbar-nav"><!-- nav-pills -->
      <li style=""><a href="#">Future Students</a></li>
      <li><a href="#">Alumni & Friends</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Current Students</a></li>
      <li><a href="#">Faculty & Staff</a></li>
    </ul>
  </div>
  </div>
</div>

</div>





