<div class="container wsu-container">
<div class="row">

  <style>
    .nav .nav-pills {border-left:1px solid rgba(255,255,255, .4);}

  </style>

  <div class="navbar navbar-default" id="mid-nav" style="background:url(<%= asset_path 'arrow2.png' %>) -50px -3px no-repeat;border-top:1px solid #cdcdcd;">
  <p class="navbar-text">For information: </p>
    <ul class="nav nav-pills">
      <li><a href="#">Future Students</a></li>
      <li><a href="#">Alumni & Friends</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Current Students</a></li>
      <li><a href="#">Faculty & Staff</a></li>
    </ul>
  </div>
</div>

</div>