
<style>
  .rline {border:1px solid red;}
  .gline {border:1px solid green;}
  .yline {border:1px solid yellow;}
  .no-padding {padding:0;}

  
</style>

<div class="col-md-12" style="padding:0 !important;">
  <div class=""><!-- need row? -->
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 no-padding">
          <%= image_tag 'Somsen-Phelps-Main.png', class: "img-responsive" %>
        </div>
        <div class="col-md-4 yline">
          
          <h1 style="margin-top:2em;">Historical Designation Highlights WSU Buildings</h1>
            <p class="round-copy" style="">Two of the oldest buildings on the Winona State University campus, Somsen Hall and Phelps Hall, have been accepted into the National Register of Historic Places by the Minnesota Historical Society.</p>
            <p class="round-links" style=";"><a href="http://winonastatenews.com/4977/wsu-buildings-named-to-national-register/">Read More</a> <i class="fa fa-chevron-circle-right"></i></p>

        </div>

      </div>
    </div>
    <div class="col-md-2 rline no-padding" >
      RIGHT
    </div>
  </div>
</div>

