
<style>
  .rline {border:1px solid red;}
  .gline {border:1px solid green;}
  .yline {border:1px solid yellow;}
  .no-padding {padding:0;}

  
</style>

<div class="col-md-12" style="padding:0 !important;">
  <div class=""><!-- need row? -->
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 yline">
          Picture
        </div>
        <div class="col-md-4 yline">
          Text
        </div>

      </div>
    </div>
    <div class="col-md-2 rline no-padding" >
      RIGHT
    </div>
  </div>
</div>

