index2.html.erb
<div class="row" id="topPurple">
  <%#= render 'top1' %>
  <%= render 'top3.html.erb' %>
</div>
<!-- <div class="row">
  <%#= render 'midnav.html.erb' %>
</div>

<div class="row">
  <%#= render 'bottomnav.html.erb' %>
</div> -->