#topPurple {

  height:360px;
}

.hero-images {margin-left:-55px;border:1px solid red;}
.hero-content {margin-left:-0px;border:1px solid red;padding:0;}

.navbar-default {margin-bottom:-10px;border:none;}
.navbar-default {background-image: none;border-radius:0;height:0px !important;margin:0;padding:0;}
// .navbar-default .mid-nav {background-image:'/images/arrow2.png';}

.navbar-text {padding:0;height:38px;margin-top:-1px;margin-right:90px;color:#ffffff !important;line-height:42px;padding-left:30px;}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar-nav .nav-pills {padding-right:40px;padding-left:40px;border:1px solid;}
.navbar-nav .nav-pills > li > a {border:1px solid red;}
.navbar {min-height:42px !important}
/*ul.nav.nav-pills {height:40px;margin-bottom:0;}*/