#topPurple {

  height:360px;
}

.hero-images {margin-left:-55px;border:1px solid red;}
.hero-content {margin-left:-0px;border:1px solid red;padding:0;}

.navbar-default {margin-bottom:-10px;border:none;}
.navbar-default {background-image: none;border-radius:0;height:0px !important;margin:0;padding:0;}
// .navbar-default .mid-nav {background-image:'/images/arrow2.png';}

.navbar-text {padding:0;height:38px;margin-top:-1px;margin-right:90px;color:#ffffff !important;line-height:42px;padding-left:30px;}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar-nav .nav-pills {padding-right:40px;padding-left:40px;border:1px solid;}
.navbar-nav .nav-pills > li > a {border:1px solid red;}
.navbar {min-height:42px !important}
/*ul.nav.nav-pills {height:40px;margin-bottom:0;}*/

.nav-tabs > li > a {
  color:#301b56;
  text-decoration: none;
  text-transform: uppercase;
  background:#fefefe;
  margin-right:5px;
}

.nav-tabs > li.active > a {
  color:#ffffff;
  background: #301b56; /* Old browsers */
  background: -moz-linear-gradient(top, #301b56 0%, #2f1655 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#301b56), color-stop(100%,#2f1655)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #301b56 0%,#2f1655 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #301b56 0%,#2f1655 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #301b56 0%,#2f1655 100%); /* IE10+ */
  background: linear-gradient(to bottom, #301b56 0%,#2f1655 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#301b56', endColorstr='#2f1655',GradientType=0 ); /* IE6-9 */
}

.tabbox {
  background-image: url('../images/tabbox.png');
background-repeat: repeat;
padding-top: 11px;
height: 264px;
overflow: hidden;
}